<nav class="mobile">
  <button (click)="toogleMenu()"><img src="../../../assets/svg/icon_menu.svg" alt="menu"></button>
  <a href=""><img src="../../../assets/svg/logo_yard_sale.svg" alt="logo"></a>
  <a href=""><img src="../../../assets/svg/icon_shopping_cart.svg" alt="info"></a>
  <section class="side-menu" [class.active]="activeMenu">
    <ul>
      <button (click)="toogleMenu()">Close</button>
      <li><a routerLinkActive="active" routerLink="home">All</a></li>
      <li *ngFor="let item of categories">
        <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{item.name}}</a>
      </li>
    </ul>
  </section>
</nav>

<nav class="hide-mobile">
  <section class="left-menu">
    <a href=""><img src="../../../assets/svg/logo_yard_sale.svg" alt="logo"></a>
    <ul class="menu">
      <li><a routerLinkActive="active" routerLink="home">All</a></li>
      <li *ngFor="let item of categories">
        <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{item.name}}</a>
      </li>
    </ul>
  </section>
  <section class="info">
    <button *ngIf="!user" (click)="login()">Login</button>
    <span *ngIf="user">{{ user.email }}</span>
    <button *ngIf="user" (click)="logOut()">Salir</button>
    <a href=""><img src="../../../assets/svg/icon_shopping_cart.svg" alt="info"></a>
  </section>
</nav>