nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style: none;
    margin: 0 5px;
}

.hide-mobile {
    display: none;
}

.left-menu {
    display: flex;
}

.left-menu ul {
    margin: 0 20px;
}

.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: lightblue;
    transform: translateX(-100%);
    transition: all ease-out .3s;
}

.side-menu.active {
    transform: translateX(0);
}

.info {
    display: flex;
    align-items: center;
}

.info span {
    margin: 0 5px;
}

@media screen and (min-width: 750px) {
    .mobile {
        display: none;
    }
    .hide-mobile {
        display: flex;
    }
}
